/*
 * Pipelines parameters
 */

params {
	/*
	 * Key files
	 */
		//path to .csv file containig bam paths and sample ids
		in_bams = "[${projectDir}/data/bams.csv]"		
		//path to .tsv mapping cell barcode to cell type assignment and sample id
		bc2cell = "${[projectDir}/data/bc2cell.tsv]"

	/*
	 * Non-file paths
	 */
		//path to SComatic directory
		scomatic = "[SComatic]"
                //path to SComatic conda
                SCconda = "[scomatic_conda]"
	
	/*
	 * Accessory files
	 */
		//reference genome path
		ref_genome = "[genome.fa]"
		//rna editing site file path
		rna_editing = "${scomatic}/RNAediting/AllEditingSites.hg38.txt"
		//PoNs path
		pons = "${scomatic}/PoNs/PoN.scRNAseq.hg38.tsv"
		//

	/*
	 * Script options
	 */
		//BaseCellCounter.py options
		params.chrom_opt = "all"
}


